

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


/******************************************show case*************************************/
/* show case */ 

.main-header_bg{
    background-color: #6BCB77;
}


.animate_word{
    /*border: 1px solid red;*/
    width: 400px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    color: #fff;

}

.animate_word span{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #2D31FA;
    font-family: 'Courgette', cursive;
}

.animate_word ul {
    position: absolute;
    top: 0;
    left: 150px;
   /* border: 1px solid yellow;*/
    width: 100px;
    margin-top: 60px;
    list-style-type: none;
    animation: flipping 10s cubic-bezier(0.23 , 1 , 0.32 , 1.2) infinite  alternate-reverse;
}

@keyframes flipping {
    0%{
        margin-top: 0px;
    }
    10%{
      margin-top: 0px;
    }
    25%{
      margin-top: -50px;
    }
    50%{
      margin-top: -100px;
    }
    75%{
      margin-top: -150px;
    }
    100%{
      margin-top: -200px;
    }
}

.animate_word span{
    /*border: 1px solid brown;*/
    margin-right: 250px;
}

.animate_word ul li{
    height: 50px;
    /*border: 1px solid blue;*/
    margin-left: -20px;
    width: 200px;
    
}


.nav_menu_item{
    color: #fff!important;
}




/********************************************show case end********************************/

.login_card{
    width: 30%!important;
    opacity: 0;
    padding: 16px 8px;
    border-radius: 18px;
    background-color: #fff;
    position: absolute;
    top: -250px;
    left: 550px;
    animation: drop_card;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: all 0.3s;
}
@keyframes drop_card {
    0% {
        top: -250px;
    }
    100%{
        top: 200px;
        opacity: 1;
    }
    
}

.welcome{
    width: 30%;
    margin: auto;
    position: absolute;
    top: -250px;
    left: 550px;
    animation: welcome;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition: all 0.3s;
    animation-delay: 1s;
}
@keyframes welcome {
    0%{
        top: -250px;
    }
    100%{
        top: 100px;
        font-size: 45px;  
    }
}




.address_card_details{
   color: #fff;
}

#login{
    color:  #fff;
    border-radius: 0px;
    margin: 0px 4px;
    padding: 4px 8px;
    text-decoration: none;
}

#login:hover{
   border-bottom: 3px solid  #FFD93D;
   color: #2D31FA;
}

#regist{
    color: #fff;
    border-radius: 0px;
    margin: 0px 4px;
    padding: 4px 8px;
}

#regist:hover{
    color: #2D31FA!important;
    border-bottom: 3px solid  #FFD93D;
}
.logout_button{
    
    color: #fff;
    border-radius: 0px;
    margin: 0px 4px;
    padding: 4px 8px;
    text-decoration: none;
}
a .logout_button{
    color: #fff;
}
.logout_button:hover{
    border-bottom: 3px solid  #FFD93D;
}

.menu_bar_bg{
    background-color: #FFD93D;
    opacity: 0.9;
} 
/*********************************addrress buttons******/



h1,h2,h3,h4,h5,h6 a{
    font-family: 'Roboto', sans-serif;
}




/*logout*/ 


/***********************************************landingpage register button****************************************************/ 
  .land_reg {
    padding: 8px 16px;
    margin: 0 8px;
    color: #fff;
    background-color:blue;
    text-transform: uppercase;
    position: relative;

}

.land_reg::before{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
   /* background-color: green;
    /*border: 5px solid #2e86c1;*/
    border-top: 5px solid #2e86c1 ;
    border-left: 5px solid #2e86c1 ;
    transition: all 0.4s;
}

.land_reg::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
   /* background-color: green;
    /*border: 5px solid #2e86c1;*/
    border-bottom: 5px solid #2e86c1 ;
    border-right: 5px solid #2e86c1 ;
    transition: all 0.4s;
}
.land_reg:hover:before , 
.land_reg:hover:after{
    width: 100%;
    height: 100%;
    
}

.land_reg:hover {
    color:#fff
}


/*landing page welcome quote*/ 

.bg_img{
    position: relative;
    top: 0;
    left: 0;
}

.gmart_caption{
    margin-top: 50px;;
    width: 500px;
    position: absolute;
    top: 500px;
    left: 550px;
    font-family:fantasy;
    text-transform: uppercase;
    font-weight:700;
    color: #fff;
    animation: caption;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition:  0.1s;
    opacity: 0;
}

@keyframes caption {
  0%{
      left: -50px;
  }
  100%{
      left: 550px;
      opacity: 1;
  }
   
}

 




/********************************************************header menus hover*****************************************************/ 

 .container ul li a{
    color: #fff;
    margin: 0 10px;
    position: relative;
}

 .container ul li a:hover {
    background-color:  #6BCB77;
}

 

.container ul li a::before{
    content: "";
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s;
    box-sizing: border-box;
    top: 0;
    left: 0;
    border-top: 2px solid  #2D31FA;
    border-left: 2px solid  #2D31FA;
}

.container ul li a::after{
    content: "";
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid  #2D31FA;
    border-right: 2px solid  #2D31FA;
}

ul li a:hover:before,
ul li a:hover:after{
    width: 20%;
    height:30%;
    visibility: visible;
    
    
}



/**********************************************************card offers******************************************************************/

.bg_offer_color{
    background-color:  #6BCB77;
}


.cart_1:hover , .cart_2:hover , .cart_3:hover , .cart_4:hover , .cart_5:hover , .cart_6:hover  {
    transform: translateY(-10px);
    box-shadow: 0px 5px 20px rgba(243,244,247 , 0.5);
}

.cart_7:hover , .cart_8:hover , .cart_9:hover{
    transform: translateY(10px);
    box-shadow: 0px 5px 20px rgb(243, 244, 247 , 0.5);
}

/***bottom cards***/ 
.bottom_cart-1 , .bottom_cart-2{
    position: relative;
   /* width: 600px;
    height: 200px;*/
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background-color: #fff;
}
.bottom_cart-1:hover , .bottom_cart-2:hover{
    height: 450px;
}
.imgbox-1 , .imgbox-2{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-30px);
    z-index: 99;
}
img .img_bottom_one , img .img_bottom_two {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}
.card-body-1 , .card-body-2{
    padding: 10px 20px;
    text-align: start;
    transform: translateY(-50px);
    opacity: 0;
}
.bottom_cart-1:hover .card-body-1 , .bottom_cart-2:hover .card-body-2{
    opacity: 1;
    transform: translateY(-20px);
}

 .card-body-1  h4 .bottom_desc{
    font-family: 'Mulish', sans-serif!important;
    font-family: 'Playfair Display', serif!important;
}

/****************************************************************bg***********************************************/ 
section .bg_color{
    background-color: rgb(253,251,251)!important;
}   



 /*****************************************************validation*****************************************************/
.error{
    color:#8f4507;
}
#update{
    color:white;
    text-align : center;
    display:none;
}



/*.bg-warning{
    background-color:#fff307f5;
}*/






/******************************************************************* owl carousel styling************************************************/
.owl-prev{
    left: -30px;
}

.card-img-top{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.owl-next{
    right: -30px;
}

.owl-prev , .owl-next{
    position:absolute;
    top:90px;
}

.owl-prev span , .owl-next span{
    font-size: 80px;
    color: black;
}

.owl-theme , .owl-nav[class*="owl-"]:hover{
    background: transparent;
}

/*offer cards*/



/**********************************************************************registration form****************************************************/

.register_card_image{
    border-radius: 15px!important;
}

.box{
    width: 400px;
    height: 520px;
    /*position: relative;*/
    border-radius: 15px;
    opacity: 0.75;
    display: flex;
}

.form_box{
    position: absolute!important;
    top: 70px!important;
    left: 830px!important;
    width: 300px!important;
    justify-content: center;
    text-align: center;
    animation-name: formdrop;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.3s;
    opacity: 0;
    /*height: 400px!important;*/
}
@keyframes formdrop{
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.regist_form_button{
    position: absolute;
    bottom: 0px;
    padding: 2px 4px;
    left: 0;
    color: #fff;
    background-color: #fff;
    color: #fff;
    
}
.data_display{
    position: absolute;
    bottom: 0px;
    left: 80px;
    padding: 2px 4px;
    border-radius: 15px;
    background-color: #fff;
    color: #fff;
    text-decoration: none;
}
.login_from_regist_form{
   border-radius: 15px;
   position: absolute;
   padding: 2px 4px;
   bottom: 0px;
   right: 10px;
   background-color: #fff;
   text-decoration: none;
   color: #fff;
}

label{
    color:white;
    
}

 .form-control{
    border-radius: 15px!important;
}

/*input form*/

input #name{
    width:200px;
}




.showForm {
    padding: 20px;
    right: 0;
    position: absolute;
    z-index: 10000;
    background: black;
}

#regist{
    text-decoration: none;
    color: #fff!important;
}

#regist1 a:hover{
    border-bottom: blue;
    cursor: pointer;
    color: #2D31FA;
}

.big_letter{
    font-size: 92px;
    /*color: yellow;*/
    text-transform: uppercase;
    opacity: 0.75;
    margin-top: -40px;
}

.big_letter::after{
    content: "";
    position: absolute;
    width: 100px;
    bottom: 28px;
    left: 183px;
    
}
 .main_title{
   font-size: 44px; 
   text-transform: uppercase;
   text-shadow: #fff;
   color: #fff; 
   
   
}

.text_remove{
    opacity: 0;
    animation: remove 2s linear infinite ;
    transition: all 0.5s;
}

@keyframes remove {
    0%{
        opacity: 0.1;
        transition: all 0.5s;
        animation-delay: 3s;
        color: #FFD93D;
    }
    20%{
        opacity: 0.2;
        color: #FFD93D;
    }
    30%{
        opacity: 0.3;
        transition: all 0.5s;
        color: #FFD93D;
    }
    40%{
        opacity: 0.4;
        color: #fff;
    }50%{
        opacity: 0.5;
        transition: all 0.5s;
        color: #fff;
        animation-delay: 1s;
    }75%{
        opacity: 0.75;
        color: #fff;

    }100%{
        opacity: 1;
        transition: all 0.5s;
        animation-delay: 1s;
        color: #FFD93D;
    }
    
}

.web_title{
    position: relative;
    
    text-align: center;
}

.main_title::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 25px;
    left: 183px;
    border-bottom: 3px solid #FFD93D;
    animation: move 3s linear infinite;
    transition: all 1s;
    
}

@keyframes move {
    10% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}



ul li a{
    color:rgb(245, 245, 241);
}



  #arrow{
    position: fixed;
    bottom: 0px;
    right: 40px;
    font-size: 50px;
    color:#2D31FA;
    
}




.envelop{
    position: absolute;
    left: 50px;
    top: 30px;
    border-radius: 25px;
    width:70%;
    background-color: #fff;
    border: 1px solid red;
}


/*offers*/ 




/*bg image*/ /*contact page*/ 
#bg{
    background-image: url('https://cdn.pixabay.com/photo/2020/05/21/18/52/supermarket-5202138__480.jpg');
    height:100vh;
    width:100%;
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/*bg image register page*/ 
.bg_reg_img{
    background-image: url('https://vardhmanhealth.com/wp-content/uploads/2020/12/Contact-Us-min.png');
    height:100vh;
    width:100vh;
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
}


/*register*/


/*.bgc{
    background-color:yellowgreen;
}*/

/*footer*/ 
/*footer{
    position: fixed;
    z-index: 2;

}*/
.main_footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_bg{
    background-color: #FFD93D;
}
.footer_para{
    vertical-align: auto;
    color: #000!important;
    font-size: 18px;
}

.promotion span{
    font-size: 22px;
    color: #2D31FA;
}


 @media (max-width: 768px) {
     .welcome{
         position: absolute;
         top: 1px;
         left: 1px;
     }
    .login_card{
        width: 50%!important;
        padding: 8px 8px;
        border-radius: 18px;
        position: absolute;
        top: 100px;
        left: 25px;;
    }
    .login_btn{
        margin-bottom: 2px;
        margin-top: 2px;
    }
    .reg_info{
        line-height: 34px;
    }
    .land_reg{
        margin: 8px 0!important;
    }
    .gmart_caption{
        position: absolute;
        bottom: 1px;
        left: 0;
        width: 100%;
        animation: move 2s linear infinite;
        transition:  0.1s;
    }
    @keyframes move {
        100% {
            transform: translateX(30px);   
        }
        
     }
     .land_reg::before{
        display: none;
    }
    
    .land_reg::after{
        display: none;
    }
     /*registration*/ 
     .bg_reg_img{
        width: 100%;
        height: 100vh;
     } 
     .box{
         width:100vw;
     }
 }

 @media (max-width: 576px){
     body{
         width: 100vw;
         height: 100vh;
     }
     .bg_reg_img{
         width: 100vw;
         height: 100vh;
     }

     .form_box{
         
        position: absolute!important;
        top: 500px!important;
        left: 60px!important;
        width: 300px!important;
        justify-content: center;
        text-align: center;
        animation-name: formdrop;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        transition: all 0.3s;
        opacity: 0;
        /*height: 400px!important;*/
    }
    @keyframes formdrop{
        0% {
            opacity: 0;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }

    /********landingpage****/ 
    .login_card{
        width: 80%!important;
        opacity: 0;
      
    }
    @keyframes drop_card {
        0% {
            top: -250px;
        }
        100%{
            top: 200px;
            opacity: 1;
        }
        
    }
    
    .welcome{
        width: 100%;
        margin: auto;
        position: absolute;
        top: -100px;
        left: 0px;
       /* animation: welcome;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        transition: all 0.3s;
        animation-delay: 1s;*/
    }
    @keyframes welcome {
        0%{
            top: -250px;
        }
        100%{
            top: 100px;
            font-size: 45px;  
        }
    }
    
    .gmart_caption{
        margin-top: 50px;;
        width: 500px;
        position: absolute;
        top: 600px;
        left: 50px;
        font-family:fantasy;
        text-transform: uppercase;
        font-weight:700;
        color: #fff;
        animation: caption;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        transition:  0.1s;
        opacity: 0;
    }
    
    @keyframes caption {
      0%{
          left: 0px;
      }
      100%{
          left: 50px;
          opacity: 1;
      }
    
    }
    #bg{
        min-height:100%;
        width:100%;
    }
    .envelop{
        position: absolute;
        left: 50px;
        top: -40px;
        border-radius: 25px;
        width:80%;
    }

    .animate_word ul {
        position: absolute;
        top: 20px;
        left: 120px;
    }
    
    .web_title{
        margin-left: 70px;
    }
    .main_title::before{
        /*content: "";
        position: absolute;
        width: 120px;
        height: 40px;
        bottom: 25px;
        left: 183px;*/
        border-bottom: 3px solid #FFD93D;
        animation: move 2s linear infinite;
        transition: all 1s;
        
        
    }
    @keyframes move {
        0% {
            transform: translateX(-200px);
        }
        100% {
            transform: translateX(-100px);
        }
    }
 }